&pl_gpio {
	 gpio-line-names = 
	   "PWR_ENABLE", "PROGRAMN", "JTAGEN", "AMPCH0",
	   "AMPCH1", "AMPCH2", "AMPCH3", "AMPCH4",
	   "AMPCH5", "AMPCH6", "AMPCH7", "AMPCS0",
	   "AMPCS1", "AMPCS2", "PWREN0", "PWREN1",
	   "PWREN2", "PWREN3", "PWREN4", "PWREN5",
	   "PWREN6", "PWREN7", "R3", "P9",
	   "R12", "R6", "RFDCRST", "",
	   "", "", "", "",

	   "INITN", "DONE", "P8", "R4",
	   "P7", "T3", "LOCKED", "IN_STOPPED",
	   "FB_STOPPED", "RFDC_RESETN", "", "",
	   "", "", "", "",
	   "", "", "", "",
	   "", "", "", "",
	   "", "", "", "",
	   "", "", "", "";

	 xlnx,dout-default = <0x00000006>;
	 xlnx,all-outputs = <0xFFFFFFFF>;
	 xlnx,all-outputs2 = <0x0000000>;
	 xlnx,all-inputs = <0x0000000>;
	 xlnx,all-inputs2 = <0xFFFFFFFF>;
	 xlnx,tri-default = <0x00000000>;
	 xlnx,tri-default2 = <0xFFFFFFFF>;
};

&ctrl_spi {
     CTRL0@0 {
         compatible = "piradio,bgctrl";
	 reg = <0>;
	 spi-max-frequency = <1000000>;
     };
};

&amp_spi {
     AMPS0@0 {
         compatible = "piradio,amps";
	 reg = <0>;
	 spi-max-frequency = <1000000>;
     };
};

&samples_in0 {
    sample-direction = "in";
    sample-buffer-no = <0>;
};

&samples_in1 {
    sample-direction = "in";
    sample-buffer-no = <1>;
};

&samples_in2 {
    sample-direction = "in";
    sample-buffer-no = <2>;
};

&samples_in3 {
    sample-direction = "in";
    sample-buffer-no = <3>;
};

&samples_in4 {
    sample-direction = "in";
    sample-buffer-no = <4>;
};

&samples_in5 {
    sample-direction = "in";
    sample-buffer-no = <5>;
};

&samples_in6 {
    sample-direction = "in";
    sample-buffer-no = <6>;
};

&samples_in7 {
    sample-direction = "in";
    sample-buffer-no = <7>;
};

/ {
  fragment {
     target-path = "/";
     overlay_piradio: __overlay__ {
       piradio-image = "piradio-Betelgeuse-NRT";

       piradio_nrt {
	   compatible = "piradio,NRT";
	   status="okay";
       };

       piradio_Betelgeuse {
	   compatible = "piradio,Betelgeuse";
	   status="okay";
       };

       piradio_ZCU111_config {
           reference_freq = "102.4MHz";
	   mts_enabled = "True";
           LMX_A_freq0 = "4096MHz";
           LMX_A_freq1 = "4096MHz";
           LMX_B_freq0 = "4096MHz";
           LMX_B_freq1 = "4096MHz";
           LMX_C_freq0 = "4096MHz";
           LMX_C_freq1 = "4096MHz";
       };
     };
  };
};
