BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "spi1_dac_vga1_csn" SITE "D3" ;
LOCATE COMP "spi1_dac_vga2_csn" SITE "D2" ;
LOCATE COMP "spi1_adc_vga_csn" SITE "C2" ;
LOCATE COMP "spi1_sclk" SITE "D1" ;
LOCATE COMP "spi1_mosi" SITE "C1" ;
LOCATE COMP "spi2_dac_vga1_csn" SITE "G4" ;
LOCATE COMP "spi2_dac_vga2_csn" SITE "F4" ;
LOCATE COMP "spi2_adc_vga_csn" SITE "E3" ;
LOCATE COMP "spi2_sclk" SITE "H6" ;
LOCATE COMP "spi2_mosi" SITE "G3" ;
LOCATE COMP "spi3_dac_vga1_csn" SITE "B3" ;
LOCATE COMP "spi3_dac_vga2_csn" SITE "B4" ;
LOCATE COMP "spi3_adc_vga_csn" SITE "B5" ;
LOCATE COMP "spi3_sclk" SITE "A3" ;
LOCATE COMP "spi3_mosi" SITE "A4" ;
LOCATE COMP "spi4_dac_vga1_csn" SITE "F2" ;
LOCATE COMP "spi4_dac_vga2_csn" SITE "G2" ;
LOCATE COMP "spi4_adc_vga_csn" SITE "E2" ;
LOCATE COMP "spi4_sclk" SITE "F3" ;
LOCATE COMP "spi4_mosi" SITE "F1" ;
LOCATE COMP "spi5_dac_vga1_csn" SITE "E6" ;
LOCATE COMP "spi5_dac_vga2_csn" SITE "D6" ;
LOCATE COMP "spi5_adc_vga_csn" SITE "E7" ;
LOCATE COMP "spi5_sclk" SITE "D7" ;
LOCATE COMP "spi5_mosi" SITE "B6" ;
LOCATE COMP "spi6_dac_vga1_csn" SITE "D11" ;
LOCATE COMP "spi6_dac_vga2_csn" SITE "A10" ;
LOCATE COMP "spi6_adc_vga_csn" SITE "C11" ;
LOCATE COMP "spi6_sclk" SITE "A11" ;
LOCATE COMP "spi6_mosi" SITE "B11" ;
LOCATE COMP "spi7_dac_vga1_csn" SITE "B7" ;
LOCATE COMP "spi7_dac_vga2_csn" SITE "C8" ;
LOCATE COMP "spi7_adc_vga_csn" SITE "C9" ;
LOCATE COMP "spi7_sclk" SITE "A8" ;
LOCATE COMP "spi7_mosi" SITE "E11" ;
LOCATE COMP "spi8_dac_vga1_csn" SITE "B12" ;
LOCATE COMP "spi8_dac_vga2_csn" SITE "B13" ;
LOCATE COMP "spi8_adc_vga_csn" SITE "A12" ;
LOCATE COMP "spi8_sclk" SITE "A14" ;
LOCATE COMP "spi8_mosi" SITE "B14" ;
LOCATE COMP "ampspi_sclk" SITE "T7" ;
LOCATE COMP "ampspi_mosi" SITE "T5" ;
LOCATE COMP "ampspi_miso" SITE "T8" ;
LOCATE COMP "ampspi_csn" SITE "T4" ;
LOCATE COMP "pwr_en0" SITE "K4" ;
LOCATE COMP "pwr_en1" SITE "L5" ;
LOCATE COMP "pwr_en2" SITE "L1" ;
LOCATE COMP "pwr_en3" SITE "L3" ;
LOCATE COMP "pwr_en4" SITE "K5" ;
LOCATE COMP "pwr_en5" SITE "L4" ;
LOCATE COMP "pwr_en6" SITE "L2" ;
LOCATE COMP "pwr_en7" SITE "M1" ;
IOBUF PORT "spi1_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi1_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi1_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi1_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi1_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi1_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi2_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi2_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi2_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi2_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi2_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi2_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi3_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi3_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi3_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi3_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi3_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi3_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi4_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi4_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi4_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi4_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi4_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi4_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi5_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi5_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi5_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi5_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi5_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi5_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi6_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi6_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi6_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi6_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi6_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi6_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi7_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi7_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi7_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi7_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi7_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi7_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi8_adc_vga_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi8_dac_vga1_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi8_dac_vga2_csn" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "spi8_sclk" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi8_mosi" IO_TYPE=LVCMOS18 ;
IOBUF PORT "spi8_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pwr_en0" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "pwr_en1" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "pwr_en2" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "pwr_en3" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "pwr_en4" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "pwr_en5" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "pwr_en6" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "pwr_en7" IO_TYPE=LVCMOS18 PULLMODE=UP ;
IOBUF PORT "sspi_sclk" IO_TYPE=LVCMOS18 ;
LOCATE COMP "sspi_sclk" SITE "P6" ;
LOCATE COMP "sspi_csn" SITE "R5" ;
LOCATE COMP "sspi_mosi" SITE "P13" ;
LOCATE COMP "sspi_miso" SITE "T6" ;
IOBUF PORT "sspi_miso" IO_TYPE=LVCMOS18 ;
IOBUF PORT "sspi_csn" IO_TYPE=LVCMOS18 ;
IOBUF PORT "sspi_mosi" IO_TYPE=LVCMOS18 ;
USE PRIMARY NET "wb_clk" ;
USE PRIMARY NET "spi_clk_o" ;
FREQUENCY NET "wb_clk" 100.000000 MHz ;
